/* ----------------------------------------start */

body {
  background-attachment: fixed;
  background-image: url("https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/6877211_orig.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1rem;
}

p {
  margin: auto;
  text-align: center;
  width: 88%;
}

/* ----------------------------------------header */

.header {
  color: gold;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 10px;
  text-align: center;
}

/* ----------------------------------------menu */

nav ul {
  background-color: gold;
  border-radius: 10px;
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin-left: 7px;
}

nav a {
  color: black;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
  color: gold;
}

/* ----------------------------------------homepage and socials*/

#laptop {
  padding-bottom: 20px;
  position: static;
  text-align: center;
}

.container {
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  font-style: italic;
  font-weight: 400;
  margin: auto;
  padding-left: 7px;
  padding-right: 7px;
  position: static;
  text-align: center;
}

footer {
  height: 50px;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 150%;
  margin: 20px;
}

#websitecredit {
  color: white;
  font-size: 0.8rem;
  padding-bottom: 6px;
  text-align: center;
}

/* ----------------------------------------solutions */

#mobileattack {
  padding-left: 5px;
  padding-right: 5px;
  position: static;
  text-align: center;
}

#phonedanger {
  color: red;
}

.phonetips {
  margin: auto;
  padding-right: 10px;
}

#solutions_h2 {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

#solutions_h3 {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/* ----------------------------------------blog */

.blog {
  padding: 20px 10px 20px 10px;
  position: static;
  text-align: center;
}

.figure-caption {
  color: white;
  font-size: 1rem;
  margin: auto;
}

/* ----------------------------------------realities */

#data_breach_guide {
  position: static;
  text-align: center;
}

.facts {
  margin: auto;
  padding-right: 10px;
}

.threats {
  color: white;
  font-weight: 500;
  margin: auto;
  position: static;
}

.threats a:hover {
  background-color: silver;
  color: black;
}

/* ----------------------------------------contact */

.contacts {
  margin: auto;
  width: 52%;
}

.contact_container {
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}

#contact_here {
  font-weight: 700;
  font-size: 1.3rem;
}

#dividing_line {
  text-align: center;
  background-color: white;
  height: 2px;
  width: 52%;
}

input[type=submit] {
  background-color: gold;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 20px;
}

input[type=submit]:hover {
  background-color: red;
}

input[type=text], select, textarea {
  border: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.line_padding {
  padding-bottom: 8px;
}

.text_area {
  height: 190px;
}

/* ----------------------------------------media queries */

@media only screen and (min-width: 601px) {
  .contact_container, .container, .facts, .figure, .phonetips, .threats {
    width: 56%;
  }
}

@media only screen and (min-width: 601px) {
  nav ul, p {
    width: 58%;
  }
}

/* ----------------------------------------end */
