@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600');

body {
  background-attachment: fixed;
  background-image: url("https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/bcs-background-2_orig.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1rem;
  height: 1525px;
  min-height: 250px;
}

p {
  margin: auto;
  text-align: center;
  width: 70%;
}


/* ----------------------------------------header */

.header {
  color: gold;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 3px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}


/* ----------------------------------------menu */

nav ul {
  background-color: gold;
  border-radius: 10px;
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 70%;
}

nav li {
  display: inline-block;
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
}

nav a {
  color: black;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: silver;
  border-radius: 9px;
  color: white;
}


/* ----------------------------------------homepage and socials*/

#introduction {
  color: gold;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

#laptop {
  padding-bottom: 12px;
  padding-top: 0;
  position: static;
  text-align: center;
}

.container {
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  font-style: italic;
  margin: auto;
  position: static;
  text-align: center;
  width: 63%;
}

.RM_Guard {
  padding-bottom: 0;
}

footer {
  height: 50px;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 150%;
  margin: 20px;
}

#websitecredit {
  color: gold;
  font-size: 11px;
  padding-bottom: 6px;
  text-align: center;
}


/* ----------------------------------------solutions */

#mobileattack {
  padding-left: 5px;
  padding-right: 5px;
  position: static;
  text-align: center;
}

#phonedanger {
  color: red;
  padding-bottom: 5px;
  text-align: left;
}

.phonetips {
  margin: auto;
  width: 70%;
}


/* ----------------------------------------contact */

.contacts {
  margin: auto;
  width: 50%;
}

#contact_heading {
  color: gold;
  margin: auto;
  width: 62%;
}

input[type=text], select, textarea {
  border: 3px solid gold;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.text_area {
  height: 190px;
}

input[type=submit] {
  background-color: gold;
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  padding: 12px 20px;
}

input[type=submit]:hover {
  background-color: silver;
}

.contact_container {
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  width: 65%;
}


/* ----------------------------------------blog */

.blog {
  padding: 20px 10px 20px 10px;
  position: static;
  text-align: center;
}

.figure-caption {
  color: white;
  font-size: 1.0em;
  margin: auto;
  width: 63%;
}

.strong_color {
  color: gold;
}


/* ----------------------------------------realities */

.facts {
  margin: auto;
  width: 70%;
}

.threats {
  color: gold;
  margin: auto;
  position: static;
  width: 70%;
}

.threats a:hover {
  background-color: silver;
  color: black;
}

#realitylinks {
  text-align: center;
}

#data_breach_guide {
  margin-bottom: 15px;
  position: static;
  text-align: center;
}

#ou_badge {
  position: static;
  text-align: center;
}


/* ----------------------------------------end */
